<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAKK Interpreter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
       <div class="container">
           <div class="left-column">
               <h1>INPUT (IDE)</h1>
               <textarea id="input_code"></textarea>
               <button id="compile_button">COMPILE</button>
           </div>
           <div class="right-column">
                <h1>OUTPUT</h1>
                <textarea id="output_result" readonly>Hello World!</textarea>
                <h1>CONSOLE</h1>
                <div id="console_output" class="console">Waiting for compilation...</div>
            </div>
           <div class="ai_column">
                <h1>AI GENERATOR</h1>
                <textarea id="ai_code"></textarea>
           </div>
    </div>

    <script>
        function compileCode() {
            var inputCode = document.getElementsByName("input_code")[0].value;

            fetch('/jakk', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'input_code=' + encodeURIComponent(inputCode)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('consoleOutput').innerHTML = data.console_output_str;
                document.getElementById('finalResult').value = "Normal form: " + data.final_result;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>