<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>JAKK Interpreter</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="loading-screen">
    <h1>Welcome to JAKK</h1>
</div>
<div class="container">
    <div class="left-column">
        <h1>INPUT (IDE)</h1>
        <textarea id="input_code"></textarea>
        <button id="compile_button">COMPILE</button>
    </div>
    <div class="right-column">
        <h1>OUTPUT</h1>
        <textarea id="output_result" readonly>Hello World!</textarea>
        <h1>CONSOLE</h1>
        <div class="console" id="console_output">Waiting for compilation...</div>
    </div>
    <div class="ai_column">
        <h1>AI GENERATOR</h1>
        <textarea id="ai_code" readonly>AI Explanation will be generated here...</textarea>
    </div>
</div>

<script>
    // Loading Screen
    $(document).ready(function(){
        setTimeout(function(){
            $('#loading-screen').fadeOut(1000);  // Fade out the loading screen
            $('.container').css('opacity', 1).show(); // Show the container with fade-in effect
        }, 3000);

        // Output and AI Generation
         $('#compile_button').click(function(){
            var inputCode = $('#input_code').val();
            $('#console_output').text("Compiling...");
            $('#output_result').val("Processing...");
            $('#ai_code').val("Generating AI Explanation...");

            $.post('/jakk', {input_code: inputCode}, function(data){
                $('#console_output').html(data.console_output_str.replace(/\n/g, '<br>'));
                $('#output_result').val("Normal form: " + data.final_result);
                $('#ai_code').val(data.ai_explanation_str);
            });
        });
    });
</script>
</body>
</html>
